<!-- Enter HERE
<div id="movie_Data"></div>
<br><br>
<form action="">
<input type="text" name="searchTerm" id="searchTerm">
<input type="submit" value="Search" class="btn_submit">
</form>
<div>Results</div>
<div id="results"></div> -->


<h1>Wunderground Weather API</h1>
<div id="showInfo"></div>
<!-- <div id="parseHtml"></div> -->
<br>
<h2>------------------------------------------------</h2>
<br>
<h1>Shopstyle API</h1>
<br>
<div id="hat"></div>
<br>
<h2>DRESS</h2>
<div id="dress"></div>
<br>
<h2>TOP</h2>
<div id="top"></div>
<br>
<h2>BOTTOM</h2>
<div id="bottom"></div>
