// Place all the styles related to the styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lead {
    color:#0074A2;
}
#curTemp {
  color: #f4b701;
    font-weight: 600;
    font-size: 2.75rem;
}

#weather {overflow: hidden;}

#weather DIV SPAN{
  white-space: nowrap;
  display: inline-block;
  margin: 5px;
}

#curCond {
  font-weight: bold;
  font-size: 1.7rem;
}

#suggestedStyle img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    text-align: center;
}


div #saveStyle {
  display: none;
}

div #gender {
  display: none;
}
