/*BODY*/
a {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
}

h2{
color: black;
text-transform: uppercase;

}

.field{
  padding-top: 10px;
}

/*NAV BAR */

.navbar-default .navbar-nav>li>a {
  color:white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
  padding-top: 40px;
  height: 90px;
}
h1 {
  font-family: "acta-display";
}
.navbar {
  border:none;
}
.container-fluid {
background-color: black;
height: 90px;
/*border-color: none;*/
}
.navbar-default .navbar-text {
  color: white;
  padding-top: 21px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navbar-fixed-top {
top: 0;
/*border-width: 0 0 0px;*/
}
/*FOOTER*/
footer.footer {
background-color: black;
color: white;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;

}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    list-style-type: none;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    list-style-type: none;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
    list-style-type: none;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;

 }




