// Place all the styles related to the styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lead {
    color:#0074A2;
}
#curTemp {
  color: #f4b701;
  font-weight: 600;
  font-size: 2.75rem;
  letter-spacing: 0.09em;

}
div#weather.row{
    margin-left: 40px;
}
#weather {overflow: hidden;
  margin-top: 10px;}

#weather DIV SPAN{
  white-space: nowrap;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
strong{
  font-weight: 200;
  font-size: 2.80rem;
}
hr {
  border: none;
  height: 1px;
  color:#333;
  background-color:#333;
}

#curCond {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: 0.09em;
  margin-top: 6px;
}
div#wlcon{
  padding-left: 10px;
}

#suggestedStyle img {
    margin: 0px;
    padding: 5px;
    height: auto;
    width: auto;
    text-align: center;
}


div #saveStyle {
  display: none;
}

div #gender {
  display: none;
}
