/*BODY*/
a {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
}

h2{
color: black;
letter-spacing: 0.1em;
text-transform: uppercase;
font-weight: 600;
}


h5{
color: black;
letter-spacing: 0.2em;
text-transform: uppercase;
}
body{
  background-color:white;
}
div.container1 {
  width: 1600px;
}
div.container.content{
  width: 1770px;
  padding-left: 1px;
}
div.container{
  width: 1600px;
}
.field{
  padding-top: 10px;
}
.panel-body {
padding-left: 40px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: 15px;
  cursor: pointer;
  letter-spacing: .1em;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
}

/*NAV BAR */

a#txt{
  color:white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 20px;
  font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
  color:white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
  padding-top: 40px;
  height: 90px;
}
h1 {
  font-family: "acta-display";
}
.navbar {
  border:none;
}
.container-fluid {
background-color: black;
height: 90px;

}

a.txt{
  color:white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 20px;
  font-weight: 500;
}

.carousel-indicatorts li{
  border-color:#999;
  background-color:#ccc;
}
/*border-color: none;*/

.navbar-default .navbar-text {
  color: white;
  padding-top: 21px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
nav.navbar.navbar-default{
margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.navbar-fixed-top {
top: 0;
/*border-width: 0 0 0px;*/
}
/*FOOTER*/
footer.footer {
background-color: black;
color: white;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;

}

/*styleHeader*/



div .styleHeader {
  background-color: #b0c4de;
  color: white;
}
.rowstyle1{
  height: 374px;
}
 #style2{
  height: 200px;
}

.shoesize{
  padding-left: 30px;
}
.accessory1size{
  padding-left: 63px;
}
.accessory2size{
  padding-left: 95px;
}
div#selectedTop.col-md-6{
  height: 373px;

}

.topbottomsize{
  height: 360px;
}

div#login{
margin-left: 30px;
}


/*flash*/
div.alert.alert-notice{
  width: 1400px;
  margin-left: 150px;
  position: absolute;
  z-index: 1;
}
input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    list-style-type: none;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    list-style-type: none;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
    list-style-type: none;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;

 }




